.mycluster {
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    text-align: center;
    font-size: 24px;
  }
  
  .custom-marker-cluster{
    background: rgba(239, 242, 241, 0.7);
    background-color: rgba(239, 242, 241, 0.9);
    border: 5px solid rgba(239, 242, 241, 0.1);
    border-radius: 50%;
    color: #000000;
    font-weight: bold;
    height: 33px;
    line-height: 37px;
    text-align: center;
    width: 33px;
  }